body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  background-image: linear-gradient(to right, #ff9966, #ff5e62);
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px;
  justify-items: center;
  align-items: center;
  margin-top: 5px;
}

.card {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 4px;
  margin: 5px;
  align-items: center;
}

.card-img {
  width: 30%;
  height: 70%;
  object-fit: cover;
  border-radius: 4px;
}

.card-label {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.card-details {
  margin-top: 10px;
}

.animal-name {
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: antiquewhite;
  font-size: 20px;
}

.title-Parot {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(162, 19, 19);
  text-align: center;
}

.animal-name {
  font-size: 30px;
  font-weight: bold;
  font-family: fantasy;
  color: rgb(3, 3, 29);
}

.homepage-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  color: rgba(105, 122, 125, 0.883);
  text-align: center;
}

.homepage-container header {
  font-size: 40px;
  margin-bottom: 20px;
}

.homepage-container h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.homepage-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.homepage-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.homepage-container button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #e91e63;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.homepage-container button:hover {
  background-color: #c2185b;
}
