body {
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  margin: 0;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
}

.card {
  width: 130px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
  margin: 5px;
  margin-top: 5px;
  align-items: flex-start;
}

.card-img {
  width: 30%;
  height: 50%;
  object-fit: cover;
  border-radius: 4px;
}

.card-label {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.card-details {
  margin-top: 10px;
}

.animal-name {
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: antiquewhite;
  font-size: 20px;
}

.title-Parot {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(162, 19, 19);
  text-align: center;
}

.animal-name {
  font-size: 30px;
  font-weight: bold;
  font-family: fantasy;
  color: rgb(3, 3, 29);
}
